//linea de comentario
/* este comentario sirve para css y scss */
@import"utilities/variables";
@import"utilities/extend";
@import"utilities/listas";
@import"utilities/mixin";


// primer poder de sass NESTING


body {
    background-color:nth($bg-color,$n:1);
    font-size: 0.8 rem;

    header {
        @extend %flex;
        .menu {
            background-color: rgb(189, 223, 232);
        }
        nav ul {
            display:flex;
            column-gap: 10px;
        }
        nav ul li {
            list-style: none;
            background-color:nth($bg-color,$n:2);
            padding: 5px;
            border-radius: 25px;
            font-weight: bold;
        }
        .width-navbrand {
            width: 100%;
        }
    }


    main {
        padding: 1rem;
        .title {
            text-align: center;
            color: $color-title;
            font-size: 60 px;
            text-decoration: underline;
            margin-top: 16px;
            margin-bottom: 2rem;
        }
        .img-parent {
            text-align: center;
            margin-bottom: 1rem;

            .kate-adams-img {
                width: 70%;
            }
        }
        .about-us-intro {
            max-width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        .about-us-main {
            display: flex;
            flex-direction: column;
            background-color: nth($bg-color,$n:2);
            padding: 1rem;
            border: $border-aboutusmain;
        }
        .item-fixed {
            position: fixed;
            bottom: 5px;
            right: 5px;
            width: 50px;
        }
        .main-container{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                "banner banner"
                "about-us-left about-us-right"
                "services services"
                ". ."
                ". ."
                "portfolio-left portfolio-right";
            justify-content: center;
            justify-items: center;
            row-gap: 2rem;
            column-gap: 1rem;  
        }

        .banner {
            grid-area: banner;
          }
          
          .about-us-left {
            grid-area: about-us-left;
          }
          
          .about-us-right {
            grid-area: about-us-right;
            margin-top: 2rem;
          }
          
          .portfolio-left {
            grid-area: portfolio-left;
          }
          
          .portfolio-right {
            grid-area: portfolio-right;
          }
          
          .services {
            grid-area: services;
          }
    }
    footer{
        .bold{font-weight: bold;
        } 
    }

}

  
@media screen and (min-width: 768px) {

    .about-us-main {
        margin-left: 32px;
        margin-right: 32px;
    }
    .main-container{
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "banner banner banner banner"
        "about-us-left about-us-right about-us-right about-us-right"
        "services services services services"
        ". . . ."
        "portfolio-left portfolio-left portfolio-left portfolio-right";
    }
    .banner > img {
        @include medidas (700px, 150px)
    }

}

@media (min-width: 1024px) {
    body {
        font-size: 1rem;

        main {
            padding: 2rem;

            .about-us-main {
                flex-direction: row;
            }
        }

        .banner > img {
            @include medidas (1000px, 150px)
        }
    }

    header {
        flex-direction: row;
        justify-items: center;
        padding: 0 2rem;
        padding-top: 0.5rem;
    }

    header>h1 {
        flex: 1;
    }

    .current-li {
        display: inline-block;
    }

    .text-about-us-intro {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .kate-intro {
        flex: 0 100%;
    }

    .img-parent {
        margin-bottom: 0;
        flex-basis: fit-content;
    }

    .width-navbrand {
        width: 100%;
    }

    .navbar-brand {
        color: rgb(87, 111, 114);
    }
}