/* este comentario sirve para css y scss */
body header {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  background-color: whitesmoke;
  font-size: 0.8 rem; }
  body header {
    background-color: #d3eaef; }
    body header .menu {
      background-color: white; }
    body header nav ul {
      display: flex;
      column-gap: 10px; }
    body header nav ul li {
      list-style: none;
      background-color: #d3eaef;
      padding: 5px;
      border-radius: 25px;
      font-weight: bold; }
    body header .width-navbrand {
      width: 100%; }
  body .banner {
    width: 100%;
    height: 70vh;
    background-image: url(../Img/banner.png);
    background-position: center;
    position: relative; }
    body .banner .text-banner-index {
      background-color: lightblue;
      color: black;
      width: 100%;
      position: absolute;
      bottom: 0%;
      left: 0%;
      padding: 1rem;
      opacity: 0.85;
      text-align: center; }
  body .subtitle-color {
    color: rgba(174, 93, 18, 0.983); }
  body main {
    padding: 1rem; }
    body main .title {
      text-align: center;
      color: rgba(174, 93, 18, 0.983);
      font-size: 60 px;
      text-decoration: underline;
      margin-top: 16px;
      margin-bottom: 2rem; }
    body main .subtitle-color {
      color: rgba(174, 93, 18, 0.983); }
    body main .img-parent {
      text-align: center;
      margin-bottom: 1rem; }
      body main .img-parent .kate-adams-img {
        width: 70%; }
    body main .aboutus-index {
      width: 95%; }
    body main .love-img {
      width: 50%;
      height: 50%; }
    body main .about-us-intro {
      max-width: 50%;
      margin-left: auto;
      margin-right: auto; }
    body main .about-us-main {
      display: flex;
      flex-direction: column;
      background-color: #e3eff4;
      padding: 1rem;
      border: 3px solid #bc7639; }
    body main .item-fixed {
      position: fixed;
      bottom: 5px;
      right: 5px; }
      body main .item-fixed img {
        width: 50px; }
    body main .main-container {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "aboutus-banner aboutus-banner" "about-us-left about-us-right" "services services" ". ." ". ." "portfolio-banner portfolio-banner" "portfolio-left portfolio-right";
      justify-content: center;
      justify-items: center;
      row-gap: 4rem;
      column-gap: 1rem; }
    body main .portfolio-img {
      width: 90%;
      height: 90%; }
    body main .about-us-left {
      grid-area: about-us-left; }
    body main .about-us-right {
      grid-area: about-us-right; }
    body main .portfolio-banner {
      padding: auto;
      grid-area: portfolio-banner;
      width: 100%;
      text-align: center;
      background-image: url(../Img/woodbanner.png);
      background-position: center; }
      body main .portfolio-banner .text-services-index {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
      body main .portfolio-banner .subtitle {
        margin-top: 3.5%; }
    body main .aboutus-banner {
      padding: auto;
      grid-area: aboutus-banner;
      width: 100%;
      text-align: center;
      background-image: url(../Img/woodbanner.png);
      background-position: center;
      padding-top: 3.5%; }
      body main .aboutus-banner .text-services-index {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
    body main .portfolio-left {
      grid-area: portfolio-left; }
    body main .portfolio-right {
      grid-area: portfolio-right; }
    body main .portfolio-right-img {
      width: 100%;
      height: 100%; }
    body main .services {
      padding: auto;
      grid-area: services;
      width: 100%;
      text-align: center;
      background-image: url(../Img/woodbanner.png);
      background-position: center; }
      body main .services .text-services-index {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
      body main .services .subtitle {
        margin-top: 3.5%; }
    body main .line-separator {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: 4px solid black;
      width: 20%;
      margin-left: auto;
      margin-right: auto; }
    body main .service-item {
      text-align: center; }
      body main .service-item .short-index-text {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
    body main .portfolio-container {
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(8, auto);
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-areas: "corporate corporate" ". ." "residential residential" ". ." "commercial commercial" ". ." "organization organization" ". ."; }
    body main .corporate {
      grid-area: corporate; }
    body main .residential {
      grid-area: residential; }
    body main .commercial {
      grid-area: commercial; }
    body main .organization {
      grid-area: organization; }
    body main .youtube-iframe {
      width: 120px;
      height: 120px; }
    body main .hidden-on-mobile {
      display: none; }
    body main .subdiv-contact-form > label {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 0.75rem; }
    body main .subdiv-contact-form > input {
      height: 1.5rem;
      width: 100%;
      margin-bottom: 1rem; }
    body main .contact-form {
      text-align: center;
      margin: auto;
      margin-top: 16px;
      background-color: #e3eff4;
      padding: 1rem;
      border: 3px solid #bc7639; }
    body main textarea {
      width: 100%;
      margin-bottom: 1rem; }
    body main .submit {
      margin-top: 24px; }
  body footer .bold {
    font-weight: bold; }

@media screen and (min-width: 768px) {
  body .banner .text-banner-index {
    width: 30%;
    bottom: 10%;
    left: 10%; }
  body main .about-us-main {
    width: 75%;
    margin-left: auto;
    margin-right: auto; }
  body main .main-container {
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "aboutus-banner aboutus-banner aboutus-banner aboutus-banner" "about-us-left about-us-left about-us-right about-us-right" "services services services services" ". . . ." "portfolio-banner portfolio-banner portfolio-banner portfolio-banner" "portfolio-left portfolio-left portfolio-right portfolio-right"; }
  body main .contact-form {
    width: 80%; }
  body main .hidden-on-mobile {
    display: block; } }

@media (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-items: center;
    padding: 0 2rem;
    padding-top: 0.5rem; }
    header header > h1 {
      flex: 1; }
    header .current-li {
      display: inline-block; }
  body {
    font-size: 1rem; }
    body main {
      padding: 2rem; }
      body main .about-us-main {
        flex-direction: row;
        width: 75%; }
      body main .portfolio-img {
        width: 300px;
        height: 185px; }
      body main .subdiv-contact-form {
        width: 50%;
        margin-left: auto;
        margin-right: auto; }
      body main .contact-form {
        width: 50%; }
      body main .text-about-us-intro {
        text-align: center;
        margin-left: auto;
        margin-right: auto; }
      body main .kate-intro {
        flex: 0 100%; }
      body main .img-parent {
        margin-bottom: 0;
        flex-basis: fit-content; }
      body main .width-navbrand {
        width: 100%; }
      body main .navbar-brand {
        color: #576f72; } }
